<div class="dash">
    <div class="addClassForm">
        <form name="createMeeting" action="/createMeeting" method="POST">

            <div class="form-group row">
                <label for="Date" class="col-sm-2 col-form-label">
                    Date:
                </label>
                <div class="col-sm-5">
                    <input type="date" name="startDate">
                </div>
            </div>


            <div class="form-group row">
                <label for="startTime" class="col-sm-2 col-form-label">
                    Start Time:
                </label>
                <div class="col-sm-5">
                    <input type="time" name="startTime">
                </div>
            </div>


            <div class="form-group row">
                <label for="endTime" class="col-sm-2 col-form-label">
                    End Time:
                </label>
                <div class="col-sm-5">
                    <input type="time" name="endTime">
                </div>
            </div>



            <button type="submit" class="btn btn-primary">Submit</button>

            <div class="form-group">
            </div>
        </form>
    </div>
</div>